<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create a new alerts</h3>
</div>
<div class="modal-body" id="modal-body">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Alerts Type</label>
      <select class="form-control" ng-model="selectedAlert" ng-options="choice.text for choice in $ctrl.items">
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok(selectedAlert)">Create Alert</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
