<div class="container">
  <h4>All alerts in the system</h4>

  <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.createNew()">
    Create New
  </button>

  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Alert Type</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="alert in $ctrl.lstAlerts">
        <th scope="row">{{ alert.id }}</th>
        <td>{{ alert.alertType }}</td>
        <td>{{ alert.created }}</td>
      </tr>
    </tbody>
  </table>
</div>
